--extra-index-url https://download.pytorch.org/whl/cu113
jamo
absl-py
nltk
rouge_score
evaluate
numpy==1.24.1
transformers
datasets==2.15.0
accelerate
tensorboard
torch==1.12.1+cu113
torchvision==0.13.1+cu113
torchaudio==0.12.1
sentencepiece